  #btnSubmit {
      margin-bottom: 20px;
  }

#box {
  width: 320px;
}

#modalAlert {
  width: 400px;
}

body {
  background: linear-gradient(to right, #e4e3e3, #38383a);
}

@media(max-width: 576px) {

#box {
  width: 300px;
}

#modalAlert {
  width: 300px;
}

}
