body {
    height: 600px;
}

#box {
    margin: auto;
}

.blue {
    background-color: #74c4df;
    color: #f1f1f1;
    width: 400px;
    height: 350px;
    text-align: center;
    margin: 10px;
}

.align_center {
    text-align: center;
}

  .images {
      width: 150px;
      height: 250px;
  }


