body {
    height: 600px;
}

#box {
    margin: auto;
}

.blue {
    background-color: #74c4df;
    color: #f1f1f1;
    width: 400px;
    height: 350px;
    text-align: center;
    margin: 10px;
}

.align_center {
    text-align: center;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    overflow: hidden;
    background-color: #73cbd9;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #256b76;
    text-decoration: none;
    color: #f1f1f1;
  }

  .images {
      width: 150px;
      height: 250px;
  }

  .themeLightGrey {
    background: linear-gradient(to right, #e4e3e3, #b4b4be);
}

.themeDark {
    background: linear-gradient(to right, #6495ED , #176b8d);
}
