body {
    font-family: 'Open Sans', sans-serif;
    background-color: #A0A0A0;
}

#alter {
    width: 110px;
    height: 90px;
}

#container {
    margin-left: 10px;
}

.lightGrey {
    background-color: #909090;
}

#sltCategory {
    width: 30%;
}