body {
    font-family: 'Open Sans', sans-serif;
    background: #707070;
}

#alter {
    width: 110px;
    height: 90px;
}

#container {
    margin-left: 10px;
}

.lightGrey {
    background-color: #909090;
}

#sltCategory {
    width: 10%;
}

#inputWeight {
    width: 22%;
}

#img1, #img2, #img3 {
    width: 400px;
    height: 350px;
    margin-right: 25px;
}

#images {
    display: flex;
}