
body {
    font-family: 'Open Sans', sans-serif;
    background: #f1f1f1;
}

.themeLightGrey {
    background: #707070;
}

.themeDark {
    background: #6495ED;
}

#alter {
    width: 110px;
    height: 90px;
}

#box {
text-align: center;
background-color: white ;
width: 600px;
height: 300px;
margin: auto;  
border-radius: 10px; 
} 

.blue {
    background-color: #57bff2;
    color: #f1f1f1;
    width: 400px;
    height: 300px;
    text-align: center;
margin-right: 10px;
margin-bottom: 10px;
}

.lightGrey {
    background-color: #57bff2;
    color: #f1f1f1;
    width: 400px;
    height: 300px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

#sltCategory {
    display: flex; 
    justify-content: center;
    width: 200px;
    height: 40px;
}


#img0, #img1, #img2 {
    width: 400px;
    height: 350px;
    margin-right: 25px;
}

#images {
    display: flex;
}

/*Top Bar*/ 
ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #73cbd9;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #256b76;
    text-decoration: none;
    color: #f1f1f1;
  }

/*Title*/
  .tipos{
      color: black ;
      font-family: 'Cabin Condensed', sans-serif;
      padding: 20px;
  }
