.btnIMC {
    width: 100px;
    margin-right: 10px;
}

#divBtn {
    width: 250px;
    display: flex;
    justify-content: center;
}

#boxUserIMC {
    width: 500px;
}

#boxIMC {
    width: 500px;
}

@media (max-width: 576px) {

#boxIMC {
width: 300px;
}

#boxUserIMC {
width: 300px;
}

}